input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Smythe", serif;
    color: #000000;
    min-width: 600px;
}

.hidden {
    display: none !important;
  }

/* 1. Semantic HTML */

header {
    margin-top: 30px;
    color: #FFFFFF;
}

h1,
p {
    margin: 0;
    position: relative;
    font-weight: 400;
    left: 46.07px;
}

h1 {
    width: 169.28px;
    height: 24px;
    top: 46px;
    font-size: 39px;
    line-height: 24px;
    text-align: center;
}

p {
    width: 275.46px;
    height: 8px;
    top: 89px;
    font-size: 22.42px;
    line-height: 13.8px;
    text-align: left;
}

hr {
    margin-top: 0px;
    width: 504px;
    height: 0px;
    border: 1px solid #D2D2D2;
}

.banner {
    margin: auto;
    width: 600px;
    height: 167px;
    background-image: url("images/acaeaea44c5e3a8cd7159c5d52f26662.jpg");
}

/* 2. Items, Checkout, Orders */

.item {
    display: flex;
    margin: 30px auto 0px;
    width: 508px;
    height: 140px;
}

.item:first-of-type {
    margin-top: calc(234px - 167px);
}

.item-graphic {
    padding: 0;
    margin: 0;
    font-family: "Inter", serif;
    font-size: 78.72px;
    font-weight: 400;
    line-height: 98.4px;
    letter-spacing: -0.02em;
    text-align: center;
}

.item-container {

    margin-left: calc(147px - 70px - 46px);
    text-align: left;
    font-weight: 400;
    padding: 0;
}

.item-title {
    margin-top: calc(241.2px - 218px);
    width: 43px;
    height: 17px;
    font-size: 28px;
    line-height: 16.8px;
}

.item-description {
    color: #8B8B8B;
    width: 300px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.item-price {
    width: 18px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
}

.checkout {
    margin: auto;
    width: 508px;
    height: 319px;
}

.checkout-title {
    margin: 40px auto 0px;
    width: 90px;
    height: 17px;
    font-size: 28px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
}

.orders-list {
    display: flex;
}

.order-price {
    margin-top: 20px;
    margin-left: 290px;
    width: 18px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
}

.orders-divider {
    margin-top: 34px;
    width: 504px;
    height: 0px;
    border: 2px solid #393333;
}

.orders-container {
    display: flex;
    margin-top: 20px;
}

.total-price {
    margin: 0;
    width: 358px;
    height: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
}

.total-order-price {
    margin: 0;
    margin-left: 122px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


/* 4. Buttons */

.add-btn {
    display: flex;
    margin-top: calc(241.2px - 218px);
    width: 50px;
    height: 50px;
    color: #3C3C3C;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
}

.plus {
    margin: auto;
    width: 27px;
    height: 28.5px;
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 200;
    line-height: 24px;
    text-align: center;
}

.remove-btn {
    margin-top: 21px;
    margin-left: 70px;
    width: 77px;
    height: 22px;
    font-family: "Roboto", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #BBBBBB;
}

[class*="-button"] {
    background: #16DB99;
    color: #FFFFFF;
    border: none;
    font-family: "Roboto", serif;
}

.order-button {
    margin-top: 50px;
    width: 508px;
    height: 60px;
    padding: 18px 175px 18px 194px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

.pay-button {
    width: 475.91px;
    height: 71.3px;
    border-radius: 3.89px;
    font-size: 20px;
    font-weight: 700;
    line-height: 31.12px;
}

/* 5. Form */

.modal-container {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 524px;
    height: 542.24px;
    border-radius: 3.89px;
    box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
}

.modal-title {
    margin: 0px auto 40px;
    text-align: center;
    width: 304.37px;
    height: 40.92px;
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.12px;
}

input {
    margin: auto;
    width: 450px;
    height: 71.3px;
    border-radius: 3.89px;
    color: #757575;
    border: 1.3px solid #757575;
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.12px;
    padding-left: 20px;
}